@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

.comedy {
    font-family: 'Berkshire Swash', cursive;
}

.band {
    font-family: 'Berkshire Swash', cursive;
}

.karaoke {
    font-family: 'Berkshire Swash', cursive;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
